[Unit]
Description=Nginx proxy for Norsk
After=network.target

[Service]
User=root
Restart=always
WorkingDirectory=/opt/norsk-studio
ExecStart=/opt/norsk-studio/deployed/support-containers.sh up
ExecStop=/opt/norsk-studio/deployed/support-containers.sh down
ExecReload=/opt/norsk-studio/deployed/support-containers.sh exec nginx nginx -s reload

[Install]
WantedBy=multi-user.target
