[Unit]
Description=Norsk cloud auto-configuration
After=network.target
# If running on Google cloud, run any startup scripts first
After=google-startup-scripts.service
# If running with cloud-init, wait for that to complete
After=cloud-final.service

[Service]
User=root
# oneshot runs once on startup and reboot
Type=oneshot
WorkingDirectory=/var/norsk-studio/norsk-studio-docker
ExecStart=/var/norsk-studio/norsk-studio-docker/deployed/setup.sh

[Install]
WantedBy=multi-user.target
