[Unit]
Description=Norsk Studio and Norsk Engine
After=network.target

[Service]
User=norsk
Restart=always
WorkingDirectory=/opt/norsk-studio
ExecStart=/opt/norsk-studio/deployed/norsk-containers.sh up --no-detach
ExecStop=/opt/norsk-studio/deployed/norsk-containers.sh down

[Install]
WantedBy=multi-user.target
